{{#defineBlock 'meta'}}
  <meta name="description" content="This is a test of template inheritence">
{{/defineBlock}}

{{#defineBlock 'unused'}}
  <meta name="description" content="This block will not be output">
{{/defineBlock}}

<h1>{{siteTitle}}: {{pageTitle}}</h1>

<p>{{foo}}</p>

<p>{{bar}}</p>

<p>{{baz}}</p>
